<h1>
    {{ title }}
</h1>

<h2>09 - Input/Output Propety</h2>
<app-input-output-properties></app-input-output-properties>
<hr />

<h2>07 - Data Binding</h2>
<app-data-binding></app-data-binding>
<hr />

<h2>06 - Componentes Curso Injeção de Dependencia</h2>
<app-courses-depedency-injection></app-courses-depedency-injection>
<hr />

<h2>05 - Componentes Curso Aula com Template</h2>
<app-courses-template></app-courses-template>
<hr />

<h2>04 - Componentes Curso</h2>
<app-courses></app-courses>
<hr />

<h2>02 - Primeiros Componentes com modulo</h2>
<app-my-first-manually-02-component></app-my-first-manually-02-component>
<app-my-first-angular-cli-02-component></app-my-first-angular-cli-02-component>
<hr />

<h2>01 - Primeiros Componentes sem modulo</h2>
<app-my-first-manually-01-component></app-my-first-manually-01-component>
<app-my-first-angular-cli-01-component></app-my-first-angular-cli-01-component>







