<h1>
    {{ title }}
</h1>

<h2>Primeiros Componentes sem modulo</h2>
<app-my-first-manually-01-component></app-my-first-manually-01-component>
<app-my-first-angular-cli-01-component></app-my-first-angular-cli-01-component>

<h2>Primeiros Componentes com modulo</h2>
<app-my-first-manually-02-component></app-my-first-manually-02-component>
<app-my-first-angular-cli-02-component></app-my-first-angular-cli-02-component>

<h2>Componentes Curso</h2>
<app-courses></app-courses>

<h2>Componentes Curso Aula com Template</h2>
<app-courses-template></app-courses-template>