<h1>
    {{ title }}
</h1>

<h2>Primeiros Componentes sem modulo</h2>
<my-first-manually-component-01></my-first-manually-component-01>
<my-first-angular-cli-component-01></my-first-angular-cli-component-01>

<h2>Primeiros Componentes com modulo</h2>
<my-first-manually-component-02></my-first-manually-component-02>
<my-first-angular-cli-component-02></my-first-angular-cli-component-02>

<h2>Componentes Curso</h2>
<app-courses></app-courses>

<h2>Componentes Curso Aula com Template</h2>
<app-courses-template></app-courses-template>