<h4>NgSwitch</h4>

<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link"
         [class.active]="tab == 'home'"
         (click)="tab = 'home'"
      >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
         [class.active]="tab == 'mapa'"
         (click)="tab = 'mapa'"
      >Mapa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  
         [class.active]="tab == 'lista'"
         (click)="tab = 'lista'"
      >Lista</a>
    </li>
  </ul>

  <div class="container" [ngSwitch]="tab">
    <p *ngSwitchCase="'mapa'">
        Mapa
    </p>
    <p *ngSwitchCase="'lista'">
        Lista
    </p>       
    <p *ngSwitchDefault>
        Home
    </p>
  </div>
  <p>usando template</p>

  <div class="container" [ngSwitch]="tab">
    <ng-template [ngSwitchCase]="'mapa'">
      <p>Mapa</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'lista'">
      <p>Lista</p>
    </ng-template>
    <ng-template ngSwitchDefault>
      <p>Home</p>
    </ng-template>
  </div>