<h5>NgIF</h5>

<div *ngIf="courses.length > 0">
    Lista de cursos: {{ courses }}
</div>

<div *ngIf="courses.length == 0">
    Lista de cursos está vazia
</div>

<button #btnShowHide (click)="onBtnShowHideClick()">{{ btnShowHideCaption }}</button>

<div *ngIf="showCourses">
   Cursos: {{ courses }}
</div>

<div *ngIf="!showCourses">
    Lista de cursos oculta
</div>

<div [hidden]="!showCourses">
    Cursos: {{ courses }}
</div>

<div [hidden]="showCourses">
    Lista de cursos oculta
</div>
<br>
<p>usando templates</p>

<ng-template [ngIf]="showCourses"]>
    <div>Lista de Cursos aqui.</div>
</ng-template>

<!-- <div ng-template="ngIf showCourses"> -->
    <!-- Lista de Cursos aqui. -->
<!-- </div> -->